<%- include('menu/header', {bot, user, path}) %>
<center>
<div class="top">
  <br>
<h3><img src="https://www.platinmarket.com/wp-content/uploads/2018/03/404.png" style="width: 420px"><br>
    Opss, sayfa bulunamadı!

<br>
  </h3><br>
  <a href="/"><button type="button" class="btn btn-success">Ana Sayfa</button></a>
</div>
</center>

<%- include('menu/footer') %>