<%- include('menu/header') %>
<div class="top">
  <center>
    <br><br><img src="https://www.platinmarket.com/wp-content/uploads/2018/03/404.png" style="width: 420px"><br><br>
<h4>
  
Günde sadece 1 kere oy verebilirsin.
</h4>
  </center>
</div>

