<%- include('menu/header', {bot, user, path}) %>
    <div style="text-align: left;padding: 20px;" class="ust">
      <br>
      <h3>
        Sil      </h3>
      <br><center>
      <h6>
Botu siliyorsun...
      </h6>
      <br>
          </div>

<div class="top">
   <form method="post">
 <br>
  <h6>
    eminmisin?
  </h6></center>
  <br>
  				<div align="center" style="width: 100%; text-align: left; margin-top: 20px;">
					<center><button id="botid" name="botid" value="<%=id%>" type="submit" class="btn btn-danger">Evet, botu sil!<i aria-hidden='true'></i></button>
          </center></div>
  
</div>
    </form>


