<%- include('menu/header', {bot, user, path}) %>

<style>
.hatamesaj {
  margin-top: 20px;
  width: 1000px;
  border-radius: 15px;
  box-shadow: 0px 0px 50px black;
  background-color: #2a2d32;
}
  
.efekt { background-color: white; width: 200px; border-radius: 25px; color: black; transition: 0.3s; }  
.efekt:hover { background-color: #1d1f21; width: 220px; color: white; box-shadow: 0px 0px 25px black; border-radius: 25px; transition: 0.3s; }  
</style>

<center>
<div class="hatamesaj" style="height: 670px;">

<img style="width: 1000px; height: 300px; border-radius: 15px 15px 0px 0px;" src="https://i.pinimg.com/originals/9d/29/e3/9d29e321b90715dcc1c2e3d5a78f320f.jpg">
<i class="fas fa-lock fa-7x" style="margin-top: -100px;"></i>

<h1 style="font-size: 50px; margin-top: 10px;">Limit aşılamaz!</h1>
  
<br>
  
<h3>
Sistemde ekli bir botun olduğu <br>için daha fazla bot ekleyemezsin, <br>daha fazla bot eklemek için Premium <br>alabilirsin!
</h3>
  
<br>
  
<a class="btn efekt" href="/discord">Discord Sunucumuz</a>

</div>
</center>

<%- include('menu/footer') %>