<%- include('menu/header') %>

    <div class="ust">
      <br>
      <br>
      <h3>
        Gizlilik Politikası
      </h3>
      <br>
      <h4>
      Bilgi ve Gizlilik Politikamız
      </h4>
      <br>
          </div>
<div class="top">
  <br>
<center>
<h1>   Gizlilik Politikası</h1>


... 
  </center>
</div>
<br>
<%- include('menu/footer') %>