<%- include('menu/header', {bot, user, path}) %>


 
 
<center>
  
<br>
<br>
  
  
  
<h4 class="font">
    
 <form method="post">
     <a class="hareket yukari" href="/">Site Developer Ekibi</a>
     <b style="color: #00FFFF; font-size: 15px; text-shadow: 0px 0px 10px #00FFFF;">Bilal</b>
   
  
  </center>
  <h4 class="font">
    
 <form method="post">
     <a class="hareket yukari" href="/">Sunucu Kurucuları</a>
   <a class="hareket yukari" href="/">øxí#1266  /  </a>
   <a class="hareket aşağı" href="/">Ardééks#1337</a>
   
     	</form>
  
  </center>
  
  <form method="post">
     <a class="hareket yukari" href="/">Sunucu Admini</a>
   <a class="hareket yukari" href="/">Im#7563</a>

   
     	</form>
  
  </center>

 <form method="post">
     <a class="hareket yukari" href="/">Sunucu Tester Ekibi</a>
   <a class="hareket yukari" href="/">xFixxy#6556            </a>
   <a class="hareket yukari" href="/">raj4dev#7334            </a>
<a class="hareket yukari" href="/">Arvis#0359            </a>
   <a class="hareket yukari" href="/">SparrowHawk#0001            </a>
   
     	</form>
  
  </center>


      </h4>
  
</center>


<style>
  
  
.cerceve {
  border: 7px solid;
  border-color: #1d1f21;
  border-image-slice: 30%;
}
  
.card
{
    z-index: 1;
    position: relative;
    width: 300px;
    height:300px;
    margin: 0 auto;
    background-color: #2a2d32;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition:    all 0.7s ease-in-out;
    -o-transition:      all 0.7s ease-in-out;
    -ms-transition:     all 0.7s ease-in-out;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.2);

}
</style>

<%- include('menu/footer', {bot, user, path}) %>